@import "../../assets/styles/variables";
@import "../../assets/styles/base";
.app {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1440px;
    height: 900px;
    // background: #fff;
    background: rgb(109, 70, 70);
}
.carousel_wrapper  {
    width: 798px;
    height: 860px;
    margin: 20px;
    background: $primary_blue;
    border-radius: 15px;
}
.content_wrapper {
    position: absolute;
    max-width: 100%;
    top: 51px;
    right: 120px;
    width: 420px;
    background: #fff;
}