@import "../../assets/styles/variables";
@import "../../assets/styles/base";
.logo {
    width: 22.53px;
    height: 31px;
    vertical-align: middle;
}
.title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    color: #22252C;
    margin-left: 18px;
}
.form_title {
    margin-top: 100px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: $black_primary;
}
.form_text {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;    
    color: $black_primary;
    padding-right: 5px;
    margin-top: 0;
}
.form_link {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: $primary_blue;
    text-decoration: none;
    margin-bottom: 64px;
    &:hover {
        color: #0A4AB6;
    }
}
.form {
    label {
        font-size: 14px;
        line-height: 24px;
        color: $black_primary;
        display: block;
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
    }
    .label_password {
        position: relative;
    }
    .placholder {
        position: absolute;
        right: 20px;
        top: 36px;
        font-size: 14px;
        line-height: 24px;            
        text-align: center;
        color: $grey_text;
        z-index: 1;
        &:hover {
            color: $black_primary;
            cursor: text;
        }
    }
    input {
        padding: 15px 20px;
        width: 100%;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 17px;
        color: $black_primary;
        outline: none;
        border-radius: 8px;
        background: #F6F7FA;
        border: 1px solid $primary_blue;
    }
    .input_invalid {
        background: #FFF;
        border: 1px solid #FF4B26;
    }
    .input_valid {
        background: #F6F7FA;        
        border: 1px solid #6FCF97;
    }
    .mess_err {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        align-self: center;
        color: #FF4B26;
    }
    .btn {
        width: 100%;
        background: $primary_grey;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFF;
        padding: 15px 0;
        outline: none;
        margin-bottom: 219px;
    }
    .active_btn {
        background: $primary_blue;
        cursor: pointer;
        box-shadow: 0 17px 40px -13px rgba(6, 91, 234, .83);
        &:hover {
            background: #0451D2;
        }
        &:active {
            background: $primary_blue;
        }
    }
}
.nav_bottom {
    font-size: 14px;
    line-height: 24px;
    color: $grey_text;
    text-decoration: none;
    margin-right: 25px;
    &:hover {
        color: $black_primary;
    }
}
