.logo {
    width: 22.53px;
    height: 31px;
    vertical-align: middle;
}
.title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    color: #22252C;
    margin-left: 18px;
}
.form_title {
    margin-top: 100px;
    margin-bottom: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #333;
}
.form_text {
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;    
    color: #333;
    padding-right: 5px;
    margin-top: 0;
    margin-bottom: 64px;
}
.form_link {
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #065BEA;
}
.form {
    label {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #333;
        display: block;
        margin-bottom: 14px;
    }
    input {
        padding: 15px 20px;
        width: 100%;
        margin-bottom: 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #333;
        outline: none;
    }
    input:-webkit-autofill {
        border: 1px solid #E0E5E9;
        border-radius: 8px;
        -webkit-text-fill-color: #333;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        transition: background-color 5000s ease-in-out 0s;
    }
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus {
        border: 1px solid #6FCF97;
    }
    // .password_wrapper {
        // position: relative;

        // .placholder {
        //     position: absolute;
        //     right: 20px;
        //     top: 36px;
        //     font-family: Montserrat;
        //     font-style: normal;
        //     font-weight: 600;
        //     font-size: 14px;
        //     line-height: 24px;            
        //     text-align: center;
        //     color: #75777A;
        //     z-index: -1;
        // }
        input::placeholder  {
            display: block!important;
            text-align: right;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;            
            color: #75777A;
            z-index: 91;

        }
    // }
}
// input:invalid:not(:placeholder-shown) + [data-validation-text] {
// 	color: red !important;
// 	display: block;
// }